#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s
export CHECK_INTERVAL=5s
export RESPONSE_TIME_THRESHOLD=1ms
export HEALTH_ENDPOINT_URL="http://localhost:8941/healthz"

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv
